extends ../layout

block content

    #beities.container-fluid

        ol.breadcrumb.alert.alert-info
            li
                a(href="../")= author
            li
                a(href="/shufa/#{author}/#{prev}/info") 上一法帖
            li
                a(href="/shufa/#{author}/#{next}/info") 下一法帖
            li
                a(href="./")= paper
            li
                碑帖简介

        div#beitie-info-container.form.alert.alert-warning
            .row
                .col-md-12
                    p#beitie-info= info.text

